################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/AutoFillTS/obj
/TestesUnitarios/obj
/Bin
/packages
